.beachpic {
  background-image: url("images/beach.jpg");
  /* Set a specific height */
  min-height: 700px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.beachtext{
  position: absolute;
  display: block;
  font-family:Arial;
  font-size: 150px;
  font-style: oblique;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center{
  position: absolute;
  display: block;
  text-align: center;
  top: 110%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.center img{
  width: 4%;
  margin: 5%;
}

.footertext{
  font-size: small;
  text-align: center; 
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CommentBox {
  width:670px;
  color:white;
  top:70px;
  margin-left: 300px;
  text-align: center;
  font-style:italic;
}