.intro
{
  font-family:Arial;
  font-size: 150px;
  font-style: oblique;
  color: white;
  text-align: center;
}

body {
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center;
  background-size: 700px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.center img{
  height: 40px;
  margin-left: 115px;
}

.CommentBox {
  width:1000px;
  height:100px;
  color:black;
  margin-top:100px;
  margin-left: 100px;
  font-style:italic;
}