.intro
{
  font-family:Arial;
  font-size: 150px;
  font-style: oblique;
  color: white;
  text-align: center;
}

body {
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center;
  background-size: 700px;
}